* {
	outline: none;
}

.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

body {
	background-color: #DFF2FF;
}

.phone {
	height: 551px;
	width: 290px;
	background: url(../images/phone.png) no-repeat center;
	margin-top: 15px;
}

.tablet {
	height: 534px;
	width: 600px;
	background: url(../images/tab.png) no-repeat center;
	margin-top: 15px;
}

.content-vertical-middle {
	position: relative;
}

.progress-middle {
	top: 38%;
}

.div-join {
	top: 40%;
}

.div-otp {
	top: 5%;
}

.loading {
	top: 40%;
	color: #ff6a00;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 35pt;
	text-align: center;
}

.middle {
	height: 2px;
	background-color: yellow;
}

.navbar {
	margin-bottom: 0;
	background-color: rgba(31, 108, 160, 0.89);
}

.navbar-brand {
	color: #fff !important;
	background: url(../images/chat-tmp.png) no-repeat left;
	padding-left: 2em;
}

.phone-inner {
	height: 100%;
	padding: 97px 13px 105px 15px;
}

	.phone-inner #overlay {
		position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
		left: 15%; /* positions the div half way horizontally */
		top: 25%; /* positions the div half way vertically */
		background-color: #ffffff;
		width: 70%;
		z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
		font-size: smaller;
	}

	.phone-inner #fade {
		position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
		background-color: black;
		-moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
		opacity: .70;
		filter: alpha(opacity=70);
		width: 232px;
		height: 353px;
		z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
		top: 97px;
	}

	.phone-inner .modal-header {
		padding: 10px !important;
	}

		.phone-inner .modal-header h3 {
			font-size: 20px;
		}

	.phone-inner .modal-title {
		padding: 10px !important;
	}

	.phone-inner .modal-footer {
		padding: 10px !important;
	}

.tablet-inner {
	height: 100%;
	padding: 48px 41px 112px 42px;
}

	.tablet-inner #overlay {
		position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
		left: 25%; /* positions the div half way horizontally */
		top: 25%; /* positions the div half way vertically */
		background-color: #ffffff;
		width: 50%;
		z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
	}

	.tablet-inner #fade {
		position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
		background-color: black;
		-moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
		opacity: .70;
		filter: alpha(opacity=70);
		width: 487px;
		height: 362px;
		z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
		top: 62px;
	}

.maindiv-phone {
	height: 100%;
	/*background: url(../images/3.jpg) no-repeat center;*/
	background-color: rgb(238, 209, 157);
}

.maindiv-tablet {
	height: 360px;
	/*background: url(../images/1.jpg) no-repeat center;*/
	background-color: rgb(238, 209, 157);
}

.content {
	padding: 0 5px 0 5px;
	height: 81%;
}

.heading {
	background: url(../images/chat-tmp.png) no-repeat left;
	border: 1px solid rgb(151, 92, 46);
	height: 2.5em;
	background-color: rgba(223, 126, 18, 0.89);
}

	.heading .text {
		position: relative;
		top: 10%;
		padding-left: 1.8em;
		color: #fff;
		font-weight: bold;
		font-family: Helvetica, sans-serif;
		font-size: 15pt;
	}
	.heading img{
		margin-left: 35px;
		margin-right:4px;
	}
	

.footer {
	border: 1px solid rgb(151, 92, 46);
	height: 2.5em;
	background-color: rgba(223, 126, 18, 0.89);
}
	/*Image is not visible if below style is not provided.*/
	.footer .text {
		position: relative;
		top: 10%;
		padding-left: 1.8em;
		color: #fff;
		font-weight: bold;
		font-family: Helvetica, sans-serif;
		font-size: 15pt;
	}

.alert {
	margin-bottom: 5px;
}

.addChat {
	background: url(../images/add_chat.gif) no-repeat left;
	cursor: pointer;
}

.addSearch {
	background: url(../images/searchIcon.png) no-repeat left;
	cursor: pointer;
}

.addContact {
	background: url(../images/addContactIcon.png) no-repeat left;
	cursor: pointer;
}

.friendsdiv {
	float: left;
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 2px;
	cursor: pointer;
}

	.friendsdiv:hover {
		background-color: rgba(255, 188, 113, 0.89);
	}

	.friendsdiv div {
		padding: 0px;
	}

.contacts-list {
	overflow-y: scroll;
	height: 81%;
}

.chat-form {
	overflow-y: scroll;
	height: 68%;
}

.dropdown-menu-custom {
	left: -137px;
}

	.dropdown-menu-custom > li > a:hover,
	.dropdown-menu-custom > li > a:focus {
		color: #262626;
		text-decoration: none;
		background-color: #ff6a00;
	}

	.dropdown-menu-custom .divider {
		margin: 4px;
	}

.dropdown-menu.bottom-up:after {
	border-bottom: 0px solid transparent !important;
	border-top: 6px solid white;
	top: auto !important;
	bottom: -6px;
}

.btn-group-custom {
	top: 7px;
}

.btn-custom {
	padding: 0px 6px !important;
	border-radius: 12px;
}

.display-none {
	display: none;
}

.display-block {
	display: block;
}

.padding-top-small {
	padding-top: 5px;
}

.padding-right-mini {
	padding-right: 2px;
}

.padding-left-mini {
	padding-left: 2px;
}

.margin-bottom-small {
    margin-bottom: 5px;
}
.no-margin{
	margin:0 !important;
}
.cursor-pointer {
	cursor: pointer;
}

.div-chat-message {
	height: 11%;
}

	.div-chat-message .col-md-10, .div-chat-message .col-md-1 {
		padding: 0;
	}
.msg-left{
	float:left;
}
.msg-right{
	float:right;
}
.mymessage-style {
	background-color: #DFF1FC;
	padding: 4px;
	display: inline-block;
	word-break: break-word;
	border-radius: 4px;
	border: 1px solid #8DC0DF;
	text-align:left;
}
.mymessage-div-style {
	margin: 10px 10px 12px 10px;
	text-align: right;
}

.yourmessage-style {
	background-color: #EBFFE0;
	padding: 4px;
	display: inline-block;
	word-break: break-word;
	border-radius: 4px;
	border: 1px solid #69B83C;
}
.yourmessage-div-style {
	margin: 10px 10px 12px 10px;
	text-align: left;
}
.msg-date-time{
	font-size: 10px;
	color: gray;
	font-family: arial;
	float:right;
}
.notify-bar{
	background-color: #343232;
	height: 14px;
	border-radius: 2px 2px 0px 0px;
	color: #fff;
	padding: 0px 0px 0px 5px;
	font-size: 11px;
	font-family: verdana;
}
.notify-time{
	text-align:right;
	padding-right:5px;
}
.no-padding{
	padding:0 !important;
}
.smiley-div{
	height: 100%;
	text-align: center;
	cursor: pointer;
}
.smiley-div img{
	padding-top:23%;
}
.attachment-div{
	height: 100%;
	text-align: center;
	cursor: pointer;
}
.attachment-div img{
	padding-top:23%;
}
.smileys-div{
	height: 40%;
	overflow: auto;
	background-color: rgba(255, 255, 255, 0.67);
}
.chat-form-small{
	overflow-y: scroll;
	height: 28%;
}
