.nav, .pagination, .carousel, .panel-title a {
	cursor: pointer;
}

body {
	background-color: #DFF2FF;
}

.phone {
	height: 551px;
	width: 290px;
	background: url(../images/phone.png) no-repeat center;
	margin-top: 15px;
}

.tablet {
	height: 534px;
	width: 600px;
	background: url(../images/tab.png) no-repeat center;
	margin-top: 15px;
}

.content-vertical-middle {
	position: relative;

}

.progress-middle {
	top: 38%;
}

.div-join {
	top: 40%;
}

.div-otp {
	top: 5%;
}

.loading {
	top: 40%;
	color: #ff6a00;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 35pt;
	text-align: center;
}

.middle {
	height: 2px;
	background-color: yellow;
}

.navbar {
	margin-bottom: 0;
	background-color: rgba(31, 108, 160, 0.89);
}

.navbar-brand {
	color: #fff !important;
	background: url(../images/chat-tmp.png) no-repeat left;
	padding-left: 2em;
}

.phone-inner {
	height: 100%;
	padding: 97px 13px 105px 15px;
}

	.phone-inner .contacts-list {
		overflow-y: scroll;
		height: 314px;
	}

	.phone-inner #overlay {
		position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
		left: 15%; /* positions the div half way horizontally */
		top: 25%; /* positions the div half way vertically */
		background-color: #ffffff;
		width: 70%;
		z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
		font-size: smaller;
	}

	.phone-inner #fade {
		position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
		background-color: black;
		-moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
		opacity: .70;
		filter: alpha(opacity=70);
		width: 232px;
		height: 349px;
		z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
		top: 97px;
	}

	.phone-inner .modal-header {
		padding: 10px !important;
	}

	.phone-inner .modal-header h3{
		font-size:20px;
	}

	.phone-inner .modal-title {
		padding: 10px !important;
	}

	.phone-inner .modal-footer {
		padding: 10px !important;
	}

.tablet-inner {
	height: 100%;
	padding: 62px 41px 112px 42px;
}

	.tablet-inner .contacts-list {
		overflow-y: scroll;
		height: 325px;
	}

	.tablet-inner #overlay {
		position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
		left: 25%; /* positions the div half way horizontally */
		top: 25%; /* positions the div half way vertically */
		background-color: #ffffff;
		width: 50%;
		z-index: 100; /* makes the div the top layer, so it’ll lay on top of the other content */
	}

	.tablet-inner #fade {
		position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
		background-color: black;
		-moz-opacity: 0.7; /* makes the div transparent, so you have a cool overlay effect */
		opacity: .70;
		filter: alpha(opacity=70);
		width: 487px;
		height: 360px;
		z-index: 90; /* makes the div the second most top layer, so it’ll lay on top of everything else EXCEPT for divs with a higher z-index (meaning the #overlay ruleset) */
		top: 62px;
	}

.maindiv-phone {
	height: 100%;
	/*background: url(../images/3.jpg) no-repeat center;*/
	background-color: rgb(238, 209, 157);
}

.maindiv-tablet {
	height: 360px;
	/*background: url(../images/1.jpg) no-repeat center;*/
	background-color: rgb(238, 209, 157);
}

.content {
	padding: 0 5px 0 5px;
    height: 81%;
}

.heading {
	background: url(../images/chat-tmp.png) no-repeat left;
	border: 1px solid rgb(151, 92, 46);
	height: 2.5em;
	background-color: rgba(223, 126, 18, 0.89);
}

	.heading .text {
		position: relative;
		top: 10%;
		padding-left: 1.8em;
		color: #fff;
		font-weight: bold;
		font-family: Helvetica, sans-serif;
		font-size: 15pt;
	}

.footer {
    border: 1px solid rgb(151, 92, 46);
    height: 2.5em;
    background-color: rgba(223, 126, 18, 0.89);
}
    /*Image is not visible if below style is not provided.*/
    .footer .text {
        position: relative;
        top: 10%;
        padding-left: 1.8em;
        color: #fff;
        font-weight: bold;
        font-family: Helvetica, sans-serif;
        font-size: 15pt;
    }

.alert {
	margin-bottom: 5px;
}

.addChat {
	background: url(../images/add_chat.gif) no-repeat left;
	cursor: pointer;
}

.addSearch {
	background: url(../images/searchIcon.png) no-repeat left;
	cursor: pointer;
}

.addContact {
	background: url(../images/addContactIcon.png) no-repeat left;
	cursor: pointer;
}

.addMenu {
    background: url(../images/menu.gif) no-repeat left;
    cursor: pointer;
}

.addHome {
    background: url(../images/icon_home.gif) no-repeat left;
    cursor: pointer;
}

.addBack {
    background: url(../images/android_back_key.png) no-repeat left;
    cursor: pointer;
}



.friendsdiv {
	float: left;
	width: 100%;
	border-bottom: 1px solid #eee;
	padding: 2px;
	cursor: pointer;
}

	.friendsdiv:hover {
		background-color: rgba(255, 188, 113, 0.89);
	}

	.friendsdiv div {
		padding: 0px;
	}

.dropdown-menu-custom {
	left: -137px;
}

	.dropdown-menu-custom > li > a:hover,
	.dropdown-menu-custom > li > a:focus {
		color: #262626;
		text-decoration: none;
		background-color: #ff6a00;
	}

	.dropdown-menu-custom .divider {
		margin: 4px;
	}

.btn-group-custom {
	top: 7px;
}

.btn-custom {
	padding: 0px 6px !important;
	border-radius: 12px;
}



.display-none {
	display: none;
}

.display-block {
	display: block;
}
