.width1{
	width:1% !important;
}
.width2{
	width:2% !important;
}
.width3{
	width:3% !important;
}
.width4{
	width:4% !important;
}
.width5{
	width:5% !important;
}
.width6{
	width:6% !important;
}
.width7{
	width:7% !important;
}
.width8{
	width:8% !important;
}
.width9{
	width:9% !important;
}
.width10{
	width:10% !important;
}
.width11{
	width:11% !important;
}
.width12{
	width:12% !important;
}
.width13{
	width:13% !important;
}
.width14{
	width:14% !important;
}
.width15{
	width:15% !important;
}
.width16{
	width:16% !important;
}
.width17{
	width:17% !important;
}
.width18{
	width:18% !important;
}
.width19{
	width:19% !important;
}
.width20{
	width:20% !important;
}
.width21{
	width:21% !important;
}
.width22{
	width:22% !important;
}
.width23{
	width:23% !important;
}
.width24{
	width:24% !important;
}
.width25{
	width:25% !important;
}
.width26{
	width:26% !important;
}
.width27{
	width:27% !important;
}
.width28{
	width:28% !important;
}
.width29{
	width:29% !important;
}
.width30{
	width:30% !important;
}
.width31{
	width:31% !important;
}
.width32{
	width:32% !important;
}
.width33{
	width:33% !important;
}
.width34{
	width:34% !important;
}
.width35{
	width:35% !important;
}
.width36{
	width:36% !important;
}
.width37{
	width:37% !important;
}
.width38{
	width:38% !important;
}
.width39{
	width:39% !important;
}
.width40{
	width:40% !important;
}
.width41{
	width:41% !important;
}
.width42{
	width:42% !important;
}
.width43{
	width:43% !important;
}
.width44{
	width:44% !important;
}
.width45{
	width:45% !important;
}
.width46{
	width:46% !important;
}
.width47{
	width:47% !important;
}
.width48{
	width:48% !important;
}
.width49{
	width:49% !important;
}
.width50{
	width:50% !important;
}
.width51{
	width:51% !important;
}
.width52{
	width:52% !important;
}
.width53{
	width:53% !important;
}
.width54{
	width:54% !important;
}
.width55{
	width:55% !important;
}
.width56{
	width:56% !important;
}
.width57{
	width:57% !important;
}
.width58{
	width:58% !important;
}
.width59{
	width:59% !important;
}
.width60{
	width:60% !important;
}
.width61{
	width:61% !important;
}
.width62{
	width:62% !important;
}
.width63{
	width:63% !important;
}
.width64{
	width:64% !important;
}
.width65{
	width:65% !important;
}
.width66{
	width:66% !important;
}
.width67{
	width:67% !important;
}
.width68{
	width:68% !important;
}
.width69{
	width:69% !important;
}
.width70{
	width:70% !important;
}
.width71{
	width:71% !important;
}
.width72{
	width:72% !important;
}
.width73{
	width:73% !important;
}
.width74{
	width:74% !important;
}
.width75{
	width:75% !important;
}
.width76{
	width:76% !important;
}
.width77{
	width:77% !important;
}
.width78{
	width:78% !important;
}
.width79{
	width:79% !important;
}
.width80{
	width:80% !important;
}
.width81{
	width:81% !important;
}
.width82{
	width:82% !important;
}
.width83{
	width:83% !important;
}
.width84{
	width:84% !important;
}
.width85{
	width:85% !important;
}
.width86{
	width:86% !important;
}
.width87{
	width:87% !important;
}
.width88{
	width:88% !important;
}
.width89{
	width:89% !important;
}
.width90{
	width:90% !important;
}
.width91{
	width:91% !important;
}
.width92{
	width:92% !important;
}
.width93{
	width:93% !important;
}
.width94{
	width:94% !important;
}
.width95{
	width:95% !important;
}
.width96{
	width:96% !important;
}
.width97{
	width:97% !important;
}
.width98{
	width:98% !important;
}
.width99{
	width:99% !important;
}
.width100{
	width:100% !important;
}