<div class="heading">
    <span class="text">Add Contact</span>
</div>
<!-- Displays alert when Contact number already exists.-->
<div ng-if="showAlert" class="alert alert-danger alert-dismissible" role="alert">
    <strong>Warning!</strong>Contact number already exists.
</div>
<div class="content">
    <form name="newContactForm">
        <div class="form-group">
            <span>Name</span>
            <input type="text"
                   placeholder="Enter Name" ng-model="contactName" name="req_contactname" class="form-control" ng-required="true" focus="true" />
        </div>
        <div class="form-group">
            <span>Mobile Number</span>
            <input type="text"
                   placeholder="Enter mobile number" ng-model="contactNumber" name="req_mobilenumber" class="form-control" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" ng-required="true"/>
        </div>
        <div style="text-align: center">
            <button class="btn btn-warning" type="submit" ng-disabled="!newContactForm.$valid" ng-click="addContact()">Save</button>
            <button class="btn btn-default" type="submit" ng-click="gotoContactsForm()">Cancel</button>
        </div>
    </form>
</div>
