<div class="heading">
    <span class="text">Add Contact</span>
</div>
<div class="content-vertical-middle div-otp content">
    <div class="form-group">
        <span>Name</span>
        <input type="text"
               placeholder="Enter Name" ng-model="contactName" class="form-control" ng-required="true" focus="true" />
    </div>
    <div class="form-group">
        <span>Mobile Number</span>
        <input type="text"
               placeholder="Enter mobile number" ng-model="contactMobile" class="form-control" ng-required="true"/>
    </div>
    <div style="text-align: center">
        <button class="btn btn-warning" type="submit">Save</button>
        <button class="btn btn-default" type="submit" ng-click="gotoContactsForm()">Cancel</button>
    </div>
</div>
