<div class="heading">
    <span class="text">Add Contact</span>
</div>
<!-- Displays alert when Contact number already exists.-->
<div ng-if="showAlert" class="alert alert-danger alert-dismissible" role="alert">
    <strong>Warning!</strong>Contact number already exists.
</div>
<div class="content">
    <form name="newContactForm">
        <div class="form-group">
            <span>Name</span>
            <input type="text"
                   placeholder="Enter Name" ng-model="contactName" name="req_contactname" class="form-control" ng-required="true" focus="true" />
        </div>
        <div class="form-group">
            <span>Mobile Number</span>
            <input type="text"
                   placeholder="Enter mobile number" ng-model="contactNumber" name="req_mobilenumber" class="form-control" ng-pattern="/^\+?\d{2}[- ]?\d{3}[- ]?\d{5}$/" ng-required="true"/>
        </div>
        <div style="text-align: center">
            <button class="btn btn-warning" type="submit" ng-disabled="!newContactForm.$valid" ng-click="addContact()">Save</button>
            <button class="btn btn-default" type="submit" ng-click="gotoContactsForm()">Cancel</button>
        </div>
    </form>
</div>
<!-- FOOTER SECTION -->
<div class="footer" data-align="center">
    <div class="pull-right padding-top-small padding-right-mini">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoContactsForm()">
            <i class="fa fa-mail-reply"></i>
        </button>
    </div>
    <div class="btn-group dropup pull-left padding-top-small padding-left-mini" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom"  ng-disabled="true">
            <i class="fa fa-align-justify"></i>
        </button>
    </div>
    <div class="padding-top-small" style="text-align: center;padding-left: 2px;">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoHistory()">
            <i class="fa fa-home"></i>
        </button>
    </div>
</div>