<div id="call-overlay" class="{{showCallModal}}">
	<div class="modal-header" style="background-color: rgb(80, 150, 78);  padding: 0px 0px 10px 10px !important;">
		<h3 class="modal-title" style="color: #fff;font-family: verdana;" ng-bind="callName"></h3>
		<span style="color:#FFF;font-family: monospace;" ng-bind="callNumber"></span>
		<span style="color:#FFF;font-size: 13px;font-family: cursive;float:right;padding-right: 20px;" ng-bind="callTitle"></span>
	</div>
	<canvas id="canvas" width="487" height="156" style="background-color: black;"></canvas>
	<div class="modal-body no-padding" style="height:195px;" ng-style="callImageStyle">
		<video id="localVideo" src="{{localVideo.src}}" muted autoplay ng-show="showLocalVideo" class="camera-local"></video>
		<img ng-src="{{callPhoto}}" ng-if="callImage" class="img-circle" style="margin-top: 5%;" width="150px" height="150px" />
		<img ng-src="{{audioCall.image}}" ng-if="isAudioCall" class="img-circle" style="margin-top: 5%;" width="150px" height="150px" />
	</div>
	<div class="modal-body no-padding" style="height:75px;text-align:center;" ng-style="remoteCameraDivBG" >
		<div  style="display: inline-block;" ng-if="peers.length>0" ng-repeat="peer in peers track by $index">
		<video ng-src="{{peer.stream}}" autoplay  ng-show="peer.isRemoteVideo" class="camera-remote"></video>
		<img ng-src="{{peer.image}}" style="position:relative;" ng-if="!peer.isRemoteVideo" class="img-default" width="100px" height="75px" />
		<div class="video-title" ng-if="peer.isRemoteVideo">
			<span>{{peer.name}}</span>
		</div>
		<div class="image-title" ng-if="!peer.isRemoteVideo">
			<span>{{peer.name}}</span>
		</div>
	</div>
	</div>
	<div class="modal-footer" style="padding: 3px !important;background-color: rgb(80, 150, 78);  text-align: center;">
		<button ng-if="!isOutGoingCall" class="btn btn-success" ng-click="answerCall('audio')" style="border-radius: 50%;"><span class="glyphicon glyphicon-earphone"></span></button>
		<button ng-if="!isOutGoingCall" class="btn btn-success" ng-click="answerCall('video')" style="border-radius: 50%;"><span class="glyphicon glyphicon-facetime-video"></span></button>
		<button ng-if="!isOutGoingCall" class="btn btn-danger" ng-click="rejectCall()" style="border-radius: 50%;"><span class="glyphicon glyphicon-phone-alt"></span></button>
		<button ng-if="isCallStarted" ng-class="{'btn': isCallStarted, 'btn-default': !mutedAudio, 'btn-danger': mutedAudio}" ng-click="muteAudioToggle()" style="border-radius: 50%;"><i class="fa fa-microphone"></i></button>
		<button ng-if="isCallStarted && !isAudioCall" ng-class="{'btn': isCallStarted, 'btn-default': !mutedVideo, 'btn-danger': mutedVideo}" ng-click="muteVideoToggle()" style="border-radius: 50%;"><i class="fa fa-video-camera"></i></button>
		<button ng-if="isOutGoingCall" class="btn btn-danger" ng-click="endCall()" style="border-radius: 50%;"><span class="glyphicon glyphicon-phone-alt"></span></button>
	</div>
</div>
<div id="fade" class="{{showCallModal}}"></div>
				