<div class="heading">
	<span class="text" ng-bind="contactDetails.contactName"></span>
</div>
<div class="content chat-form">
	This is chat page.
</div>
<div class="form-group div-chat-message">
	<div class="col-md-1">s</div>
	<div class="col-md-10">
		<text-angular ng-model="newMsg" placeholder="Enter message" ng-enter="addMessage(contactId)" ta-toolbar="[]"></text-angular>
		<textarea class="form-control input-lg" style="display: none;" ng-model="newMsg" placeholder="Enter message"></textarea>
	</div>
	<div class="col-md-1">f</div>

</div>
<!-- FOOTER SECTION -->
<div class="footer" data-align="center">
    <div class="pull-right padding-top-small padding-right-mini">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoContacts()">
            <i class="fa fa-mail-reply"></i>
        </button>
    </div>
    <div class="btn-group dropup pull-left padding-top-small padding-left-mini" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom"  ng-disabled="true">
            <i class="fa fa-align-justify"></i>
        </button>
    </div>
    <div class="padding-top-small" style="text-align: center;padding-left: 2px;">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoHistory()">
            <i class="fa fa-home"></i>
        </button>
    </div>
</div>
