<div class="heading">
	<img ng-src="{{contactDetails.photo}}" class="img-default" width="35px" height="33px" /><span class="text no-padding" ng-bind="contactDetails.contactName"></span>
</div>
<div ng-class="chatFormCls" class="content">
	<div ng-repeat="msg in msgs track by $index">
		<div ng-class="{'mymessage-div-style':msg.fromLabel == 'me','yourmessage-div-style':msg.fromLabel != 'me'}">
			<span ng-class="{'mymessage-style':msg.fromLabel == 'me','yourmessage-style':msg.fromLabel != 'me'}">
					<b>{{msg.fromLabel}}:</b> 
					<span ng-bind-html="msg.message"></span>
					<div ng-if="!msg.isVideo" style="text-align: center;position: relative;">
						<img style="border: 5px solid #FFFFFF;cursor: pointer;max-width: 200px;max-height: 150px;" ng-src="{{msg.path}}" >
						<div class="upload-progress" ng-show="msg.progress">
							<span ng-class="msg.uploadWidth"></span>
						</div>
					</div>
					<div ng-if="msg.isVideo" style="text-align: center;position: relative;">
						<img ng-if="msg.progress" style="border: 5px solid #FFFFFF;cursor: pointer;max-width: 200px;max-height: 150px;" ng-src="{{msg.path}}" >
						<div class="upload-progress" ng-show="msg.progress">
							<span ng-class="msg.uploadWidth"></span>
						</div>
						<div ng-if="!msg.progress" style="height:150px;display: inline-block;">
						<videogular >
							<vg-media vg-src="msg.path">
							</vg-media>
							<vg-controls>
				<vg-play-pause-button></vg-play-pause-button>
				<vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
				<vg-scrub-bar>
					<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
				</vg-scrub-bar>
				<vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
				<vg-volume>
					<vg-mute-button></vg-mute-button>
					<vg-volume-bar></vg-volume-bar>
				</vg-volume>
				<vg-fullscreen-button></vg-fullscreen-button>
			</vg-controls>
							<vg-overlay-play></vg-overlay-play>
						</videogular>
						</div>
					</div>
					<br />
					<span class="msg-date-time">{{msg.on|date:'medium'}}</span>
			</span>
		</div>
	</div>
</div>
<div class="form-group div-chat-message" style="margin-bottom:6px !important;">
    <div class="col-md-1 smiley-div" ng-click="toggleSmileysDiv()">
        <img ng-src="{{smileySrc}}" alt="smiley">
    </div>


	<div class="col-md-10">
		<text-angular name="chatEditor" ng-model="newMsg" placeholder="Enter message" ng-enter="addMessage(false,false)" ta-toolbar="[]"></text-angular>
		<textarea class="form-control input-lg" style="display: none;" id="txtAreaChat" ng-model="newMsg" placeholder="Enter message"></textarea>
	</div>
	<div class="col-md-1 attachment-div">
		<img src="../images/attachment.png" alt="attach">
		<input type="file" ng-file-select ng-model="files" ng-file-change="upload($files)" ng-multiple="false" ng-accept="'image/*,video/*'" class="form-control">
	</div>
	
</div>
<!-- SMILEYS SECTION -->
<div class="smileys-div" ng-show="isShowSmileys">
    <ul class="nav nav-tabs">
        <li  ng-repeat="pane in smileyPanes" ng-class="{active: pane.active}">
            <a href ng-click="toggleActive($index+1)">
                <img class='emoji emoji_{{pane.emoticon}}' src='../images/blank.gif' />
            </a>
        </li>
    </ul>
    <div class="smileys-tab-content" ng-show="tab.active" ng-repeat="tab in smileyPanes">
        <span ng-repeat="emoticon in tab.emoticonsArray" class="emoji emoji_{{emoticon}}" ng-click="addEmoticon(emoticon,usermsg.Name)"></span>
    </div>
</div>

<!-- FOOTER SECTION -->
<div class="footer" data-align="center">
    <div class="pull-right padding-top-small padding-right-mini">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoContacts()">
            <i class="fa fa-mail-reply"></i>
        </button>
    </div>
    <div class="btn-group dropup pull-left padding-top-small padding-left-mini" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom"  ng-disabled="true">
            <i class="fa fa-align-justify"></i>
        </button>
    </div>
    <div class="padding-top-small" style="text-align: center;padding-left: 2px;">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoHistory()">
            <i class="fa fa-home"></i>
        </button>
    </div>
</div>
