<div class="heading">
	<span class="text">Contacts</span>
	<div class="pull-right">
		<a class="text addContact" ng-click="addNewContact()"></a>
		<a class="text addSearch"></a>
	</div>
</div>
<div id="overlay" class="{{showModal}}">
	<div class="modal-header">
		<h3 class="modal-title">Delete Contact?</h3>
	</div>
	<div class="modal-body">
		Are you sure, you want to delete the contact?
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="confirmDeleteContact()">Ok</button>
		<button class="btn btn-warning" ng-click="cancelDeleteContact()">Cancel</button>
	</div>
</div>
<div id="fade" class="{{showModal}}"></div>
<div class="content contacts-list">
	<div ng-repeat="contact in contacts">
		<div class="friendsdiv">
			
			<div style="float: left">
				<img ng-src="{{contact.photo}}" class="img-default" width="35px" height="38px" />
			</div>
			
			<div style="float: left; margin-left: 5px;">
				<b ng-bind="contact.contactName"></b>
				<div>
					<span ng-bind="contact.contactNumber"></span>
				</div>
				
			</div>
			<div style="float: right;">
				<div class="btn-group btn-group-custom" dropdown is-open="contact.isopen">
					<button type="button" class="btn btn-default dropdown-toggle btn-custom">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-custom" role="menu">
						<li><a ng-click="chat(contact.id)"><span class="glyphicon glyphicon-comment"></span>&nbsp;Chat</a></li>
						<li class="divider"></li>
						<li><a ng-click="Call(contact.id)"><span class="glyphicon glyphicon-earphone"></span>&nbsp;Call</a></li>
						<li class="divider"></li>
						<li><a ng-click="deleteContact($index)"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete {{contact.group ? 'Group' : 'Contact'}}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FOOTER SECTION -->
<div class="footer" data-align="center">
    <div class="pull-right padding-top-small padding-right-mini">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoHistory()">
            <i class="fa fa-mail-reply"></i>
        </button>
        <!--<a class="fa fa-undo"></a>-->
    </div>
    <div class="btn-group dropup pull-left padding-top-small padding-left-mini" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom"  ng-disabled="true">
            <i class="fa fa-align-justify"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a ng-click="tellFriend()"><i class="fa fa-share-alt"></i>&nbsp;Tell a friend</a></li>
            <li><a ng-click="goToPhoneContactsPage()"><i class="fa fa-th-list"></i>&nbsp;Contacts</a></li>
            <li><a ng-click="refreshContacts()"><i class="fa fa-refresh"></i>&nbsp;Refresh</a></li>
            <li><a ng-click="goToHelpPage()"><i class="fa fa-question-circle"></i>&nbsp;Help</a></li>
        </ul>
    </div>
    <div class="padding-top-small" style="text-align: center;padding-left: 2px;">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoHistory()">
            <i class="fa fa-home"></i>
        </button>
    </div>
</div>

