<div class="heading">
    <span class="text">Chats</span>
    <div class="pull-right">
    <a class="text addChat" ng-click="loadContacts()"></a>
    </div>
</div>
<div class="content-vertical-middle div-otp content">
    <span>This is history page.</span>
</div>
<div class="footer">
    <div class="pull-right">
        <a class="text addBack"></a>
    </div>
    <div class="pull-left">
        <a class="text addMenu"></a>
    </div>
    <div style="text-align: center">
        <a class="text addHome"></a>
    </div>
</div>
