<div class="heading"><span class="text">Tattlez</span></div>
<div class="content-vertical-middle div-join content">
	<form name="joinForm" ng-submit="join()" autocomplete="off">
		<div class="input-group">
			<input type="text" placeholder="Enter mobile number" ng-model="mobileNumber" class="form-control" rpattern="/\d{10}/" ng-required="true" autofocus />
			<span class="input-group-btn">
				<button class="btn btn-success" type="submit" ng-disabled="!joinForm.$valid || disable">Join</button>
			</span>
		</div>
	</form>
</div>
