<div class="heading"><span class="text">Authenticate</span></div>
<!-- Displays alert when OTP is invalid-->
<div ng-if="showAlert" class="alert alert-danger alert-dismissible" role="alert">
    <strong>Warning!</strong>Invalid OTP enter. Please check.
</div>

<div class="content-vertical-middle div-otp content">
    <span>Enter OTP (one time password) that you have received on your mobile</span>
    <div class="form-group">
    <input type="text"
           placeholder="Enter OTP number" ng-model="otpInput" class="form-control" ng-required="true" autofocus/>
    </div>
    <div style="text-align: center">
        <!--Resend otp button displays after timeout-->
        <button class="btn btn-primary" type="submit" ng-if="enableResendOtp" ng-click="resendOtp()">Resend OTP</button>
        <button class="btn btn-warning" type="submit" ng-disabled="enableResendOtp" ng-click="validateOtp()">Validate</button>
        <button class="btn btn-default" type="submit" ng-click="gotoJoinForm()">Cancel</button>
    </div>
</div>
