<div class="heading">
    <span class="text">Profile</span>
</div>
<div class="div-join content padding-top-small">
    <div id="profileImageDisplayArea" style="background-color: lightblue;top: 5px;width: 150px;height: 150px;float: left;">
        <img src={{userProfile.profileImgUrl}} class="img-default" width="150px" height="150px"/>
    </div>

    <div style="position: relative">
        <div id="profileEditIcon" class="col-md-1 attachment-div" style="position: absolute; top: 118px;left: 105px">
            <img src="../images/attachment.png" alt="attach">
            <input type="file" ng-file-select ng-model="files" ng-file-change="uploadProfilePic($files)" ng-multiple="false" ng-accept="'image/*'" class="form-control">
        </div>
    </div>
    <div style="display: block;margin-left: 200px;padding-top: 10px">
        <div>
            <div ng-hide="editorEnabled">
                <input type="text" ng-model="userProfile.profileName" placeholder="Name" disabled="disabled">
                <a href=""
                   ng-click="editProfileName()">
                    <i class="fa fa-pencil"></i>
                </a>
            </div>
            <div ng-show="editorEnabled">
                <input type="text" ng-model="editableTitle" ng-show="editorEnabled">
                <a href="" ng-click="saveIt()">
                    <i class="fa fa-check"></i>
                </a>
                <a href="" ng-click="disableProfileName()">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div style="padding-top: 10px">
            <textarea style="width: 250px;height: 100px;" placeholder="Hey! I am using Tattlez." ng-model="userProfile.profileStatus"></textarea>
        </div>
    </div>
    <div style="height: 100px;padding-top: 10px" ng-hide="true">

    </div>
    <div style="padding-top: 20px;">
        <button class="btn btn-primary" style="width: 100%;">Save</button>
    </div>

</div>

<!-- FOOTER SECTION -->
<div class="footer" data-align="center">
    <div class="pull-right padding-top-small padding-right-mini">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoSettings()">
            <i class="fa fa-mail-reply"></i>
        </button>
        <!--<a class="fa fa-undo"></a>-->
    </div>
    <div class="btn-group dropup pull-left padding-top-small padding-left-mini" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom"  ng-disabled="true">
            <i class="fa fa-align-justify"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a ng-click="tellFriend()"><i class="fa fa-share-alt"></i>&nbsp;Tell a friend</a></li>
            <li><a ng-click="goToPhoneContactsPage()"><i class="fa fa-th-list"></i>&nbsp;Contacts</a></li>
            <li><a ng-click="refreshContacts()"><i class="fa fa-refresh"></i>&nbsp;Refresh</a></li>
            <li><a ng-click="goToHelpPage()"><i class="fa fa-question-circle"></i>&nbsp;Help</a></li>
        </ul>
    </div>
    <div class="padding-top-small" style="text-align: center;padding-left: 2px;">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoHistory()">
            <i class="fa fa-home"></i>
        </button>
    </div>
</div>


