<div class="heading">
    <span class="text">Profile</span>
</div>
<div class="div-join content padding-top-small">
    <div id="profileImageDisplayArea" style="background-color: lightblue;top: 5px;width: 160px;height: 160px;float: left;">
        <img src={{userProfile.profileImgUrl}} class="img-default" width="160px" height="160px"/>
    </div>

    <div style="position: relative">
        <div id="profileEditIcon" class="col-md-1 attachment-div" style="position: absolute; top: 118px;left: 105px">
            <img src="../images/attachment.png" alt="attach">
            <input type="file" ng-file-select ng-model="files" ng-file-change="uploadProfilePic($files)" ng-multiple="false" ng-accept="'image/*'" class="form-control">
        </div>
    </div>
    <div style="display: block;margin-left: 200px;padding-top: 10px">
        <form name="newContactForm">
            <div class="form-group">
                <span>Name</span>
                <input type="text"
                       placeholder="Enter Name" ng-model="userProfile.profileName" name="profilename" class="form-control">
            </div>
            <div class="form-group">
                <span>Status</span>
                
                <textarea type="text"
                       placeholder="Hey!I'm using Tattlez" ng-model="userProfile.profileStatus" name="profileStatus" class="form-control"></textarea>
            </div>
        </form>
    </div>
    <div style="margin:40px 0px 0px 0px;text-align: center;">
    	<span ng-bind="msg" style="font-family: monospace;font-weight: bold;font-size: 23px;color: green;"></span>
    </div>
    <div style="padding-top: 20px;">
        <button class="btn btn-primary" style="width: 100%;" ng-click="saveUserProfile()" ng-disabled="btnDisabled">Save</button>
    </div>

</div>

<!-- FOOTER SECTION -->
<div class="footer" data-align="center">
    <div class="pull-right padding-top-small padding-right-mini">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoSettings()">
            <i class="fa fa-mail-reply"></i>
        </button>
        <!--<a class="fa fa-undo"></a>-->
    </div>
    <div class="btn-group dropup pull-left padding-top-small padding-left-mini" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom"  ng-disabled="true">
            <i class="fa fa-align-justify"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a ng-click="tellFriend()"><i class="fa fa-share-alt"></i>&nbsp;Tell a friend</a></li>
            <li><a ng-click="goToPhoneContactsPage()"><i class="fa fa-th-list"></i>&nbsp;Contacts</a></li>
            <li><a ng-click="refreshContacts()"><i class="fa fa-refresh"></i>&nbsp;Refresh</a></li>
            <li><a ng-click="goToHelpPage()"><i class="fa fa-question-circle"></i>&nbsp;Help</a></li>
        </ul>
    </div>
    <div class="padding-top-small" style="text-align: center;padding-left: 2px;">
        <button type="button" class="btn btn-default dropdown-toggle btn-custom" ng-click="gotoHistory()">
            <i class="fa fa-home"></i>
        </button>
    </div>
</div>


